/* css styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none; /* Supprime la bordure de l'iframe */
}